.container {
  margin-right: 50px;
  padding: 20px;
  background-color: rgba(110, 110, 170, 0.808);
  border-top-right-radius: 10px;
}
.gallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

.name {
  margin: 5px;
  font-size: 16px;
  color: #08021bd0;
}

.defaultImage {
  background-color: rgb(213, 220, 236);
  height: 225px;
  padding-top: 35px;
  padding-bottom: 30px;
}
